pre.prebg {
  padding: 20px;
  background: #ececec;
  border-radius: 10px;
}

.form-style {
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin-bottom: 20px;
}

#feedbackMessage {
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  background-color: #fafbdd;
}

.ms-wrap {
  overflow-wrap: break-word;
  white-space: pre-line;
}